

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
  

*{
    margin: 0px;

    
}
html{
    font-family:oswald;
}
body {
    background-color:   #13082b;
    color: antiquewhite;


  }
  
header {

    background: rgba(83, 76, 76, 0.562);


  }
.encabezado{
        display: flex;
        align-items:flex-start;
        flex-direction: column;
        padding: 15px;
        flex-wrap: wrap;


  }


.newsletter {
    
    padding: 20px;
    float: right;
}

.newsletter h4 {
    margin-bottom: 10px;
}

.newsletter input[type="email"] {
    padding: 5px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.newsletter button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


  .jumbotron  {
display: flex;
width: 100%;
height: 100%;
align-items:center;
background-color: #121111;



  }
  .jumbotron h1{

    display: flex;
    width: 100%;
    font-size: 45px;
    text-align: center;
        

  }
   
  .jumbotron p{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
text-align: justify;

padding: 20px;

    }
  

 

  #descripcion{
    display: flex;
    font-size: 20px;
    

  }
  #item-1{
    width: 50%;
    padding: 20px;
    float: left;
  }

  .servicios {
   
    display: flex;
    justify-content: space-between; 
    padding: 5%;
    align-items: flex-start; 
    gap: 20px;
   
  }


.servicio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.servicio-item img {
    border-radius: 20px;
    height: 300px;
    width: 500px;
    
}

.servicios p{

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: justify;
width: 80%;
}

.testimonios {
    background-color: #121111;
    padding: 50px 0;
    text-align: center;
    display: flex;
    

}

.testimonio {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #4c4242;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    

}

.testimonio img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonio p {
    font-size: 16px;
    line-height: 1.5;
}

.nombre {
    font-weight: bold;
    margin-top: 15px;
}

.footer {
    
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.redes-sociales {
    margin-bottom: 20px;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

.info-contacto p {
    margin: 5px;
}

.registro{

    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.registro button{

    border-radius: 10px;
    color: #fff;
    background: #174b8b;
    width: 100px;
    height: 30px;
}

.registro input{

    border-radius: 20px;
    width: 300px;
}
  